numpy==2.2.6
pandas
scikit-learn

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq

sentence-transformers
faiss-cpu
python-dotenv

streamlit
rouge-score

